<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>peachey2k2</title>
  <link rel="stylesheet" href="/style.css">
  <script src="/global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
 </head>

 <body>
  <header>
    <div class="container">
      <div id="branding">
        <a href="/" class="invis-link" style="font-size: 24px; color: #54ffff">peachey2k2</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">[about]</a></li>
          <li><a href="/blog">[blog]</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="showcase">
    <div class="container" id="site-body">

