<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@title@</title>
  <link rel="stylesheet" href="/style.css">

  <meta property="og:title" content="@title@">
  <meta property="og:description" content="@desc@">
  <meta property="og:image" content="@image@">
  <meta property="og:url" content="@url@">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@peach2k2">
  <meta name="twitter:creator" content="@peach2k2">
  <meta name="twitter:title" content="@title@">
  <meta name="twitter:description" content="@desc@">
  <meta name="twitter:image" content="@image@">

 </head>

 <body>
  <header>
    <div class="container">
      <div id="branding">
        <a href="/">peachey2k2</a>
      </div>
      <nav>
        <ul>
          <li><a href="/">[about]</a></li>
          <li><a href="/blog">[blog]</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <section id="showcase">
    <div class="container" id="site-body">

